<%- include('includes/head.ejs') %>
    
    <main class="px-3">
        <h1>¿Qué beneficios encuentras en el estilo MVC?</h1>
        <br>
        <p class="lead"> El estilo MVC permite tener un código más organizado, lo cual a su vez facilita la implementación de lógica y el mantenimiento.
        </p>
    </main>

<%- include('includes/foot.ejs') %>