<%- include('includes/head.ejs') %>
    
    <main class="px-3">
        <h1>¿Cuál es la diferencia entre Internet y la World Wide Web?</h1>
        <p class="lead">Internet es una red global de computadoras interconectadas, mientras que la World Wide Web (WWW o Web) es un conjunto de recursos de información en línea, como páginas web, imágenes, videos y otros archivos multimedia, que se acceden a través de Internet.
        </p>
    </main>

<%- include('includes/foot.ejs') %>