<%- include('includes/head.ejs') %>

    <main class="px-3">
        <h1>About me</h1>
        <p class="lead">Hello World! Soy Erik Cabrera y estudio ITC en el Tec de Monterrey.</p>
        <br><br>
        <h2>Random Breaking Bad Quote</h2>
        <p id="quote"></p>
        <p id="author"></p>

        <script>
            fetch('https://api.breakingbadquotes.xyz/v1/quotes')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('quote').innerHTML = data[0].quote;
                    document.getElementById('author').innerHTML = data[0].author;
                });
        </script>
    </main>

<%- include('includes/foot.ejs') %>
